@font-face {
  font-family: 'Amiri';
  src: url('../fonts/Amiri-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Amiri';
  src: url('../fonts/Amiri-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Amiri';
  src: url('../fonts/Amiri-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Amiri';
  src: url('../fonts/Amiri-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@tailwind base;

/* Global font smoothing */
.font-amiri,
.font-noto,
.font-roboto,
.font-wix,
.font-shippori {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blur {
  filter: blur(1.5px) !important;
}

@media (max-width: 767px) {
  .blur {
    filter: blur(0.5px) !important;
  }
}

@tailwind components;
@tailwind utilities;
